
<div class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">Menu</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=5" class="footer__link">Trang điểm</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=2" class="footer__link">Chăm sóc da</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=4" class="footer__link">Chăm sóc tóc</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=3" class="footer__link">Nước hoa</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=1" class="footer__link">Son </a>
                    </li>
                </ul>
            </div>
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <span class="footer__text">
                            <i class="fas fa-map-marked-alt"></i> 80 P.chùa Bộc, Trung Liệt, Đống Đa, Hà Nội
                        </span>
                    </li>
                    <li class="footer__item">
                        <a href="sms:+076295680*" class="footer__link">
                            <i class="fas fa-phone"></i> 011223344
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="mailto:dangthuha01072k2@gmail.com" class="footer__link">
                            <i class="fas fa-envelope"></i> dangthuha@gmail.com
                        </a>
                    </li>
                    <li class="footer__item">
                        <div class="social-group">
                            <a href="https://www.facebook.com/cocoluxofficial/" class="social-item">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/cocolux.vn/" class="social-item">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/cocoluxofficial" class="social-item">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">ĐĂNG KÝ NHẬN BẢN TIN</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <span class="footer__text">Đăng ký để nhận được được thông tin ưu đãi mới nhất từ chúng tôi.</span>
                    </li>
                    <li class="footer__item">
                        <div class="send-email">
                            <input class="send-email__input" type="email" placeholder="Nhập Email...">
                            <a href="mailto:dangthuha01072k2@gmail.com" class="send-email__link">
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span class="footer__text"> &copy Đặng Thị Thu Hà</span>
    </div>
</div>