<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COCOLUX</title>
    <!-- Font roboto -->
    <link asp-append-version="true" rel="preconnect" href="https://fonts.gstatic.com">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link asp-append-version="true" rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/library.css">
    <link asp-append-version="true" href="~/assets/owlCarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <!-- Layout -->
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/common.css">
    <!-- index -->
    <link asp-append-version="true" href="~/assets/css/home.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script src="~/assets/owlCarousel/owl.carousel.min.js"></script>

</head>
<body>
    @await Html.PartialAsync("_HeaderPartial.cshtml")
    <div class="main">
        <partial name="_AlertMessage"></partial>
            @RenderBody()
            </div>
    @await Html.PartialAsync("_FooterPartial.cshtml")
    <script>
        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
        $('.owl-carousel.news').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
        $('.owl-carousel.bands').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
    <!-- Script common -->
    <!-- Modal Form -->
    <div class="ModalForm">
        <div class="modal" id="my-Register">
            <a href="#" class="overlay-close"></a>
            <div class="authen-modal register">
                <h3 class="authen-modal__title">Đăng Ký</h3>
                <form id="registerForm" href="/Account/Login?returnUrl=@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="FullName" class="form-label">Họ Tên</label>
                    <input id="account" name="FullName" type="text" class="form-control">
                    <span name="FullName" class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="Email" class="form-label">Tài khoản Email *</label>
                    <input id="email" name="Email" type="text" class="form-control">
                    <span name="Email" class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="Password" class="form-label">Mật khẩu *</label>
                    <input id="password" name="Password" type="text" class="form-control">
                    <span name="Password" class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="form-label">Nhập lại mật khẩu *</label>
                    <input id="confirmPassword" name="ConfirmPassword" type="text" class="form-control">
                    <span name="ConfirmPassword" class="form-message"></span>
                </div>
                <div class="authen__btns">
                    <div class="btn btn--default"><button type="submit">Đăng Ký</button></div>
                </div>
                </form>
            </div>
        </div>
        <div class=" modal" id="my-Login">
            <a href="#" class="overlay-close"></a>
            <div class="authen-modal login">
                <form href="/Account/Login?returnUrl=@ViewData["ReturnUrl"]" method="post" id="my-Login" class="form-horizontal model" role="form">
                <h3 class="authen-modal__title">Đăng Nhập</h3>
                    <div class="form-group">
                        <label name="UserNameOrEmail" class="form-label"></label>
                        <input id="account" name="UserNameOrEmail" type="text" class="form-control">
                        <span name="UserNameOrEmail" class="text-danger form-message"></span>
                    </div>
                    <div class="form-group">
                        <label name="Password" class="form-label"></label>
                        <input id="password" name="Password" type="password" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="authen__btns">
                        <div class="btn btn--default"><button type="submit">Đăng Nhập</button></div>
                        <input name="RememberMe" type="checkbox" class="authen-checkbox">
                        <label class="form-label" name="RememberMe">Ghi nhớ mật khẩu</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="up-top" id="upTop" onclick="goToTop()">
            <i class="fas fa-chevron-up"></i>
        </div>

    </div>
    <script src="~/assets/js/homeScript.js"></script>
    <script src="~/assets/js/commonscript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
